:root{--clr-primary-dark: #5d001E;
    --clr-primary: #E3e2df; 
    --clr-secondary: #E3afbc;
    --clr-secondary-dark: #9a1750 ;
    --clr-accent:#ee4c7c;
    }
    /* default */
    body{
        color: var(--clr-primary-dark);
    }
    p{
        margin-top: unset;
        margin-bottom: unset;
    }
    h1,h2,h3,h4,h5{
        margin: 0;
    }
    /* header */
    .navbar{
        background-color: var(--clr-primary);
    }
    .navbar ul li a{
        color: var(--clr-accent);
        font-size: 1.2rem;
        padding: 0;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover{
        color: var(--clr-primary-dark);
        position: relative;
    }
    .navbar-nav .nav-link::before,.navbar-nav .nav-link::after{
        content: ''; 
        position: absolute;
        width: 0;
        height: 3px; 
        background-color: var(--clr-primary-dark); 
        transition: width 0.3s ease;
        bottom: -2px;
        border-radius: 5px;
    }
    .navbar-nav .nav-link::before{
        left: 0;
     
    }
    .navbar-nav .nav-link::after{
        right: 0;
       
        
    
    }
    .navbar-nav .nav-link.active::before,.navbar-nav .nav-link.active::after{
        width: 100%;
    }
    .me-auto{
        margin-right: unset !important;
        
    }
    .navbar-expand-lg .navbar-nav{
        width: 100%;
        justify-content: flex-end;
    }
    .navbar-brand img{
    width: 80px;
    }
    /* section */
    .margin-padding{
        padding-top: 80px;
        padding-bottom: 50px;
    }
    /* hero section */
    .hero-image{
        background-image: url(bg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        object-fit: cover;
        height: 100%;
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .hero-heading{
        font-size: 5rem;
        color: var(--clr-primary-dark);
        line-height: 1.1;
    }
    .hero-row{
        justify-content: space-between;
    }
    .hero p{
        font-size: 1.2rem;
        color: var(--clr-primary-dark);
    }
 
    .hero-content{
        position: relative;
        z-index: 2;
        color: var(--clr-secondary);
        min-height: calc(100vh - 280px);
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
        border-radius: 20px;
        padding: 50px;
    }
    .hero-btn{
        display: flex;
        justify-content: start;
        align-items: center;
       
        
    }
    
    .btn{
        --bs-btn-padding-x: 2.5rem;
        --bs-btn-padding-y: 0.875rem;
        font-size: 1.2rem;
        width: 40%;
    }
    .btn-pri{
        background-color: var(--clr-primary-dark);
        color: var(--clr-primary);
      
        margin-right:20px ;
    }
    .btn-pri:hover{
        background-color: var(--clr-secondary);
        color: var(--clr-accent);
    }
    .btn-sec{
        background-color: var(--clr-primary-dark);
        color: var(--clr-primary);
    
    }
    .btn-sec:hover{
        background-color: var(--clr-secondary-dark);
        color: var(--clr-primary);
    }
.content-image {
    width: 400px;
}
    .content-image img{
        max-width: 400px;
        animation: updown 3s linear infinite;
    }
    @keyframes updown{
        0%,100%{
            transform: translateY(50px);
        }
        50%{
            transform: translateY(100px);
        }
    }

    /* program section */
    .program{
        background-color: var(--clr-primary);
    }
   .program h2{
    color: var(--clr-primary-dark);
   }
    .card img{
        position: absolute;
        bottom: 0;
        top: 0;
        height: 300px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
        
    }
    .card:hover img{
        left: 70%;
       height: 350px;
    }
    .card{
        position: relative;
        /* flex-direction: row; */
        background-color: var(--clr-primary);
        border: none;
        color: var(--clr-primary-dark);
       
    }
    .card .content{
        position: relative;
        width: 50%;
        left: 20%;
        transition: 0.5s;
        padding: 20px 20px 20px 40px;
        opacity: 0;
        visibility: hidden;
    }
    .card:hover .content{
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    .btn-program{
        background-color: var(--clr-primary-dark);
        color: var(--clr-primary);
        width: 30%;
        font-size: 1.2rem;
    }
    .btn-program:hover{
        background-color: var(--clr-secondary-dark);
        color: var(--clr-primary);
    }
    /* approach section */
    .approach{
        background-color: var(--clr-secondary);
        background-attachment: fixed;
    }
    .approach p{
        width: 80%;
    }
    .approach-image img{
        width: 500px;
    }
    .btn-approach{
        background-color: var(--clr-primary);
        width: 35%;
        font-size: 1rem;
    }
    /* testimonial section */
    .testimonial{
        background: url(testimonial-bg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        object-fit: cover;
        color: var(--clr-primary-dark);
    }
   
    .carousel-content{
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
        border-radius: 20px;
        padding: 50px;

    }
    .carousel-content p{
        width: 70%;
        margin: 0 auto;
    }
    .testimonial-row{
        align-items: center;
    }
    .carousel-content h4{
        margin-bottom: 1rem;
    }
    .carousel-avatar img{
        width: 100%;
    }
    /* footer */
    .footer{
        background-color: var(--clr-primary);
    }
    .footer-links{
        padding: 0;
        list-style: none;

    }
    .footer-links li {
        padding-top: 5px;
    }
    .footer-links li a {
        text-decoration: none;
        color: var(--clr-primary-dark);
       
    }
    .logo-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-footer img{
        max-width: 100%;
        width: 150px;
    }
    .social-icons{
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
    }
    .fa-brands{
        padding-right: 25px;
    }
    /* contact us page */
    .contact-us-box{
        position: relative;
        min-width: 1100px;
        min-height: 550px;
        display: flex;
        z-index: 1;
       
    }
    .contact-info{
        position: absolute;
        top: 40px;
        width: 350px;
        height: calc(100% - 80px);
        background-color: var(--clr-primary-dark);
        z-index: 1;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--clr-primary);
        border-radius: 20px;
        
    }
    .contact-info .social-icons{
        position: relative;
        align-items: flex-end;
    }
    .contact-form{
        position: absolute;
        padding: 70px 50px;
        padding-left: 250px;
        margin-left: 150px;
        width: calc(100% - 150px);
        height: 100%;
        background-color: var(--clr-primary);
        box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

    }
    .form-btn input[type= "submit"]{
        position: relative;
        cursor: pointer;
        background-color: var(--clr-primary-dark);
        color: var(--clr-primary);
        border: none;
        max-width: 150px;
        padding: 10px 50px;
        border-radius: 15px;
        margin-top: 20px;
    }
    .form-btn input[type= "submit"]:hover{
        background-color: var(--clr-secondary-dark);
        color: var(--clr-primary);
    }
    @media (max-width:1200px){
        .contact-us-box{
            width: 90%;
            min-width: auto;
            margin: 20px;
        }
        .contact-info{
            top: 0;
            height: 500px;
            position: relative;
        }
        .contact-form{
            position: relative;
            width: calc(100% - 350px);
            padding-left: 0;
            margin-left: 0;
            padding: 40px;
            height: 500px;
        }
    }
    @media (max-width:991px){
        .contact-us-box{
            flex-direction: column-reverse;
        }
        .contact-form{
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
        .contact-info{
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
        .contact-info .social-icons{
            justify-content: center;
            margin-top: 10px;
        }
        
    }
    @media (max-width:426px){
        .card{
            width: auto;
            max-width: 600px;
            align-items: flex-start;
            
        }
        .card:hover{
            height: 600px;
        }
        .card img{
            top: unset;
            left: 50%;
            height: 200px;
        }
        .card:hover img{
            left: 50%;
           height: 350px;
        }
        .card .content{
            width: 100%;
            left: 0;
        }
    }